#memory-game {
  text-align: center;
  margin: 20px;
}

#prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#buttonArea {
    position: relative;
    width: 100%;
    height: 800px; 
    border: 1px solid #ccc;
    overflow: hidden; /* Prevent buttons from going outside the container */
    margin-top: 20px;
}

#messageArea {
    margin-top: 20px;
    font-size: 1.5em;
}


.button {
    border: black 1px solid;
    margin: 10px;
    padding: 10px;
    height: 5em;
    width: 10em;
}

.button:active {
    opacity: 0.9; /* Slightly less transparent than hover */
    transform: scale(0.95); /* Creates a pressed-down effect */
} 
